*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    width: 100%;
   
    margin:  auto;
    border: 1px solid black;
    background-color: black;
    display: grid;
    /*grid-template-rows: 60px 100px 100px 100px 40px;
    grid-template-columns: ;
    
    grid-gap: 1rem;*/
   

}

.div1{

    display: grid;
    grid-template-rows: 40px;
    background-color: #E3DFC8;
    grid-column: 1/-1;
   padding: 5px;
}
.div2{
   display: grid;
    grid-template-rows: 80px;
    background-color: #FFBB91;
    grid-column: 1/-1;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    }
.divall{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    display: grid;
    border: 1px solid black;
    
    grid-template-rows: repeat(9,80px);
    grid-template-columns: 80px auto auto  80px;
    grid-gap: 10px;
}
.div3{
    background-color: #E3DFC8;
    grid-row: 1/-1;
    grid-column: 1/1;
    padding: 5px;

}
.div4{
    background-color: #F8BD7F;
    padding: 5px;

}
.div5{
    
    background-color: #40A8C4;
    
    padding: 5px;
    
}
.div6{
    
    background-color:  #E3DFC8;
    grid-row: 1/-1;
    grid-column: 4;
    padding: 5px;
    
}
.divat{
    background-color:#F8BD7F;
    padding: 5px;

}
.div7{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div8{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div9{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div10{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div11{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div12{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div13{
    
    background-color: #40A8C4;
    padding: 5px;
}
.div14{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div15{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div16{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div17{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div18{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div19{
    background-color: #40A8C4;
    padding: 5px;
    
}
.div20{
    background-color: #F8BD7F;
    padding: 5px;
    
}
.div21{
    background-color: #40A8C4;
    padding: 5px;
}

